/* =========================================================================

   # CSS COLOR NAMES - HSL

   ========================================================================= */

$aliceBlue: hsl(208,100,97);
$antiqueWhite: hsl(34,78,91);
$aqua: hsl(180,100,50);
$aquamarine: hsl(160,100,75);
$azure: hsl(180,100,97);
$beige: hsl(60,56,91);
$bisque: hsl(33,100,88);
$black: hsl(0,0,0);
$blanchedAlmond: hsl(36,100,90);
$blue: hsl(240,100,50);
$blueViolet: hsl(271,76,53);
$brown: hsl(0,59,41);
$burlyWood: hsl(34,57,70);
$cadetBlue: hsl(182,25,50);
$chartreuse: hsl(90,100,50);
$chocolate: hsl(25,75,47);
$coral: hsl(16,100,66);
$cornflowerBlue: hsl(219,79,66);
$cornsilk: hsl(48,100,93);
$crimson: hsl(348,83,47);
$cyan: hsl(180,100,50);
$darkBlue: hsl(240,100,27);
$darkCyan: hsl(180,100,27);
$darkGoldenrod: hsl(43,89,38);
$darkGray: hsl(0,0,66);
$darkGrey: hsl(0,0,66);
$darkGreen: hsl(120,100,20);
$darkKhaki: hsl(56,38,58);
$darkMagenta: hsl(300,100,27);
$darkOliveGreen: hsl(82,39,30);
$darkOrange: hsl(33,100,50);
$darkOrchid: hsl(280,61,50);
$darkRed: hsl(0,100,27);
$darkSalmon: hsl(15,72,70);
$darkSeaGreen: hsl(120,25,65);
$darkSlateBlue: hsl(248,39,39);
$darkSlateGray: hsl(180,25,25);
$darkSlateGrey: hsl(180,25,25);
$darkTorquoise: hsl(181,100,41);
$darkViolet: hsl(282,100,41);
$deepPink: hsl(328,100,54);
$deepSkyBlue: hsl(195,100,50);
$dimGray: hsl(0,0,41);
$dimGrey: hsl(0,0,41);
$dodgerBlue: hsl(210,100,56);
$fireBrick: hsl(0,68,42);
$floralWhite: hsl(40,100,97);
$forestGreen: hsl(120,61,34);
$fushia: hsl(300,100,50);
$gainsboro: hsl(0,0,86);
$ghostWhite: hsl(240,100,99);
$gold: hsl(51,100,50);
$goldenrod: hsl(43,74,49);
$gray: hsl(0,0,50);
$grey: hsl(0,0,50);
$green: hsl(120,100,25);
$greenyellow: hsl(84,100,59);
$honeydew: hsl(120,100,97);
$hotpink: hsl(330,100,71);
$indianRed: hsl(0,53,58);
$indigo: hsl(275,100,25);
$ivory: hsl(60,100,97);
$khaki: hsl(54,77,75);
$lavender: hsl(240,67,94);
$lavenderBlush: hsl(340,100,97);
$lawnGreen: hsl(90,100,49);
$lemonChiffon: hsl(54,100,90);
$lightblue: hsl(195,53,79);
$lightCoral: hsl(0,79,72);
$lightCyan: hsl(180,100,94);
$lightGoldenRodYellow: hsl(60,80,90);
$lightGray: hsl(0,0,83);
$lightGrey: hsl(0,0,83);
$lightGreen: hsl(120,73,75);
$lightPink: hsl(351,100,86);
$lightSalmon: hsl(17,100,74);
$lightSeaGreen: hsl(177,70,41);
$lightSkyBlue: hsl(203,92,75);
$lightSlateGray: hsl(210,14,53);
$lightSlateGrey: hsl(210,14,53);
$lightSteelBlue: hsl(214,41,78);
$lightYellow: hsl(60,100,94);
$lime: hsl(120,100,50);
$limeGreen: hsl(120,61,50);
$linen: hsl(30,67,94);
$magenta: hsl(300,100,50);
$maroon: hsl(0,100,25);
$mediumAquaMarine: hsl(160,51,60);
$mediumBlue: hsl(240,100,40);
$mediumOrchid: hsl(288,59,58);
$mediumPurple: hsl(260,60,65);
$mediumSeaGreen: hsl(147,50,47);
$mediumTorquoise: hsl(249,80,67);
$mediumVioletRed: hsl(322,81,43);
$midnightBlue: hsl(240,64,27);
$mintCream: hsl(150,100,98);
$mistyRose: hsl(6,100,94);
$moccasin: hsl(38,100,85);
$navajoWhite: hsl(36,100,84);
$navy: hsl(240,100,25);
$oldLace: hsl(39,85,95);
$olive: hsl(60,100,25);
$oliveDrab: hsl(80,60,35);
$orange: hsl(39,100,50);
$orangeRed: hsl(16,100,50);
$orchid: hsl(299,60,65);
$paleGoldenRod: hsl(55,67,80);
$paleGreen: hsl(120,93,79);
$paleTuquoise: hsl(180,65,81);
$paleVioletRed: hsl(340,60,65);
$papayaWhip: hsl(37,100,92);
$peachPuff: hsl(28,100,86);
$peru: hsl(30,59,53);
$pink: hsl(350,100,88);
$plum: hsl(300,47,75);
$powderBlue: hsl(187,52,80);
$purple: hsl(300,100,25);
$rebeccaPurple: hsl(270,50,40);
$red: hsl(0,100,50);
$rosyBrown: hsl(0,25,65);
$royalBlue: hsl(225,73,57);
$saddleBrown: hsl(25,76,31);
$salmon: hsl(6,93,71);
$sandyBrown: hsl(28,87,67);
$seaGreen: hsl(146,50,36);
$seaShell: hsl(25,100,97);
$sienna: hsl(19,56,40);
$silver: hsl(0,0,75);
$skyBlue: hsl(197,71,73);
$slateBlue: hsl(248,53,58);
$slateGray: hsl(210,13,50);
$slateGrey: hsl(210,13,50);
$snow: hsl(0,100,99);
$springGreen: hsl(150,100,50);
$steelBlue: hsl(207,44,49);
$tan: hsl(34,44,69);
$teal: hsl(180,100,25);
$thistle: hsl(300,24,80);
$tomato: hsl(9,100,64);
$torquoise: hsl(174,72,56);
$violet: hsl(300,76,72);
$wheat: hsl(39,77,83);
$white: hsl(0,0,100);
$whiteSmoke: hsl(0,0,96);
$yellow: hsl(60,100,50);
$yellowGreen: hsl(80,61,50);
